<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- font awesome link -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/profileStyle.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6"><h1><i class="fas fa-book-reader"></i>Novelex</h1></div>
            <div class="col-6 my-auto" style="text-align: end;">
            <!-- if the user is logged in -->
            <% if(myprofile && token) { %>
            <a href="//localhost:3000/api/profile"><img src="//localhost:3000/image/<%=myprofile.profilepic%>" id="profile_icon" style="height: 30px; width:30px;"></a>
            <a href="//localhost:3000/api/auth/logout/">logout</a>
            <% } else { %>
     
            <!-- if user is not logged in -->
            <a href="//localhost:3000/api/auth/login/">signin/signup</a>
            <% } %>
            </div>
        </div>
        </div>
        <div class="container-fluid">
        <div class="row">
            
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width:100vw;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/finduser" method="POST">
            <input class="form-control mr-sm-2" name="find_user" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      
      </div>
      </div>

    <div class="container-fluid">    
        <div class="row mx-auto">
            <% if(allnovels) {%>
                <% allnovels.forEach(function (novel) { %>
                    <div class="novel_cards_dashboard col-lg-2 col-sm-3 m-sm-1 mx-auto my-1">
                    <a href="/<%=novel.user.username%>"><%=novel.user.username%></a>
                    <img src="//localhost:3000/image/<%= novel.novelpic%>" class="novel_image">
                    <ul class="novel_info_list">
                        <li><%=novel.name%></li>
                        <li><%=novel.author%></li>
                        <li><%=novel.genre%></li>
                        <li><%=novel.details%></li>
                    </ul>
                    </div>
                <% }) %>
                <% } %>
        </div>
    </div>
</body>
</html>