<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboardStyle.css">
    <link rel="stylesheet" href="/css/profileStyle.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
    <div class="row">
        <!-- if the user is logged in -->
        <% if(myprofile && token) { %>
        <a href="//localhost:3000/api/profile"><img src="//localhost:3000/image/<%=myprofile.profilepic%>" id="profile_icon" style="height: 30px; width:30px;"></a>
        <a href="//localhost:3000/api/auth/logout/">logout</a>
        <% } else { %>
 
        <!-- if user is not logged in -->
        <a href="//localhost:3000/api/auth/login/">signin/signup</a>

        <% } %>
    </div>
        <div class="row">
            <% if(allnovels) {%>
                <% allnovels.forEach(function (novel) { %>
                    <div class="novel_cards col-3">
                    <a href="/<%=novel.user.username%>"><%=novel.user.username%></a>
                    <img src="//localhost:3000/image/<%= novel.novelpic%>" class="novel_image">
                    <ul class="novel_info_list">
                        <li><%=novel.name%></li>
                        <li><%=novel.author%></li>
                        <li><%=novel.genre%></li>
                        <li><%=novel.details%></li>
                    </ul>
                    </div>
                <% }) %>
                <% } %>
        </div>
    </div>
</body>
</html>