<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>profile</title>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- font awesome link -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/profileStyle.css" />
</head>
<body>

    <div class="container-fluid">
        <div class="row" >
            <div class="col-7"><span><h1><i class="fas fa-book-reader"></i>  <b>Novelex</b></h1></span></div>
            <div class="col-5 my-auto" style="text-align: end;">
                    <a href=""><img src="//novelex.herokuapp.com/image/<%=profile.profilepic%>" id="profile_icon" style="height: 30px; width:30px;"></a>
                    <a href="//novelex.herokuapp.com/api/auth/logout">logout</a>
                </div>
        </div>
        </div>
        <div class="container-fluid">
        <div class="row">
            
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width:100vw;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="//novelex.herokuapp.com/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/finduser" method="POST">
            <input class="form-control mr-sm-2" name="find_user" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      
      </div>
      </div>

    <div class="container">
        

        <!-- personal info -->

        <div class="row personal_info align-items-start mt-2">
            <div class="col-md-5 col-sm-6 order-sm-last px-5 pt-5">
                <img src="//novelex.herokuapp.com/image/<%= profile.profilepic%>" alt="not found" class="profile_image">

                <form action="/api/profile/addprofilepic" method="POST" enctype="multipart/form-data"><input type="file" name="profileimage" id="profilepic_upload" style="width:200px;font-size:10px;;">
                <button type="submit" class="btn-sm" >Upload</button>
                </form>

            </div>
            
            <div class="col-md-7 col-sm-6 order-sm-first" >
                <div class="row px-5 pt-5"><h1><%=profile.username%></h1></div>
                <ul class="personal_info_list">
                    <li>Name: <%=profile.name%></li>
                    <li>Contact: <%=profile.contactno%></li>
                    <li>Address: <%=profile.address%></li>
                    <li>Interested in: <%=profile.myGenre%></li>
                    <li>Joined: <%=profile.name%></li>
                </ul>
                <div class="row p-3 m-3 mt-5"><button class="btn btn-primary mt-5 " style="width: fit-content;" id="info_edit_button">Edit</button></div>
                
            </div>
        </div>

        <!-- edit personal info -->

        <div class="row personal_info_edit align-items-start mt-2">
            <div class="col-md-5 col-sm-6 order-sm-last px-5 pt-5">
                <img src="//novelex.herokuapp.com/image/<%=profile.profilepic%>" class="profile_image">
            </div>
            <div class="col-md-7 col-sm-6 order-sm-first" >

                <div class="row p-4"><h1><%=profile.username%></h1></div>
                <form action="/api/profile/edit" method="POST">
                <ul class="personal_info_list">
                    <li><pre>Name:          <input type="text" name="name" value="<%=profile.name%>"></pre></li>
                    <li><pre>Contact:       <input type="text" name="contact" value="<%=profile.contactno%>"></pre></li>
                    <li><pre>Address:       <input type="text" name="address" value="<%=profile.address%>"></pre></li>
                    <li><pre>Interested in: <input type="text" name="myGenre" value="<%=profile.myGenre%>"></pre></li>
                    <li><pre>Joined:       <%=profile.date%></pre></li>
                </ul>
                <div class="row p-3 m-3 mt-5">
                    <button class="btn-sm btn-primary mt-5 " style="width:fit-content;" type="submit">submit</button>
                    <!-- after submitting , redirect to profile page     -->
                </div>
            </form>
            <button class="btn-sm btn-primary" style="width:fit-content;margin-left:30px;margin-bottom: 10px;;" id="info_back_button" >Back</button>
            

            </div>
        </div>

        <!-- my novels column -->
        
        <div class="row mynovels_info mt-2 p-4">
            <div class="col-12 p-3"><h1>My Novels</h1></div>
                <div class="col-12 px-3 py-1" style="display: flex; overflow-x: scroll;">
                    <% if(mynovels){ %>
                    <% mynovels.forEach(function (novel) {  %>
                    <% if(novel){ %>
                    <div class="novel_cards col-lg-2 col-sm-4 col-5 py-3">
                    <img src="//novelex.herokuapp.com/image/<%= novel.novelpic%>" class="novel_image">
                    <ul class="novel_info_list">
                        <li><%=novel.name%></li>
                        <li><%=novel.author%></li>
                        <li><%=novel.genre%></li>
                        <li><%=novel.details%></li>
                    </ul>
                    </div>
                    <% } %>
                    <% }) %>
                
                    <% } %>
                </div>


            <div class="row mt-3" style="width:100%;"> 
                <div class="col-md-7 col-sm-3">
                    <button class="btn-sm btn-success" style="width: fit-content;" id="novel_add_button">Add</button>
                </div>


                <div class="col-md-5 col-sm-9">
                    <form action="/api/profile/removenovel" class="remove_novel_button" method="POST">
                        <input type="text" name="toberemoved" required>
                        <button type="submit" class="btn-sm btn-danger" style="width: fit-content;">Remove</button>
                    </form>
                </div>
                
            </div>
        </div>

        <!-- edit my novels -->


        <div class="row mynovels_edit mt-2 p-4">
            <div class="col-12 p-3"><h1>My Novels</h1></div>

            <div class="row" style="width:100%;"> 
                

                <div class="col-12 mt-2" >
                    <form action="/api/profile/edit/add/novel" method="POST" enctype="multipart/form-data">
                    <ul class="novel_info_list_form">
                        <li><pre>Name:    <input type="text" name="name" required></pre></li>
                        <li><pre>Author:  <input type="text" name="author" required></pre></li>
                        <li><pre>Genre:   <input type="text" name="genre" required></pre></li>
                        <li><pre>Details: <input type="text" name="details"></pre></li></pre></li>
                        <li><pre>image: <input type="file" name="novelimage"></pre></li></pre></li>

                    </ul>
                    <div class="row p-3 m-3 mt-5">
                        <button class="btn-sm btn-success mt-5 " style="width:fit-content;" type="submit">Add</button>

                        <!-- after submitting , redirect to profile page     -->
                    </div>
                </form>
                <button class="btn-sm btn-danger" style="width:fit-content;margin-left:30px;margin-bottom: 10px;;" id="novel_back_button" >Cancel</button>
                </div>
            </div>
        </div>

    </div>
    <script src="/scripts/profileScript.js"></script>
</body>
</html>